---
permalink: /feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>{{ site.name }}</title>
    <link>{{ site.url }}/</link>
    <atom:link href="{{ site.url }}/feed.xml" rel="self" type="application/rss+xml" />
    <description>{{ site.description }}</description>
    <language>en</language>
    <lastBuildDate>{{ collections.posts[0].date | dateRfc822 }}</lastBuildDate>
    {%- for post in collections.posts %}
    <item>
      <title>{{ post.data.title }}</title>
      <link>{{ site.url }}{{ post.url }}</link>
      <guid isPermaLink="true">{{ site.url }}{{ post.url }}</guid>
      <pubDate>{{ post.date | dateRfc822 }}</pubDate>
      {%- if post.data.tags %}{% for tag in post.data.tags %}{% if tag != "posts" %}<category>{{ tag }}</category>{% endif %}{% endfor %}{% endif %}
      <description><![CDATA[{{ post.templateContent }}]]></description>
    </item>
    {%- endfor %}
  </channel>
</rss>
